:root {
  --background-image-url: url("https://wallpaperaccess.com/full/506444.jpg");
}

#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  background: var(--background-image-url) center;
  background-size: cover;

  @include respond(phone) {
    padding: 0 $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}

.large-header {
  position: relative;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 5px;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate3d(-40%, -30%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 2.2em;
  letter-spacing: 2.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
    padding: 0 1rem;
    font-size: 3em;
  }
}

#diver {
  height: 100px;
  width: 500px;
  background-color: powderblue;
}
