#projects {
  background-color: $white-color;
  color: $dark-blue-text;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  @include respond(tab-land) {
    padding-top: 5rem;
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; // Centers children horizontally
    justify-content: center; // Centers children vertically
    width: 100%; // Takes full width of the parent
    margin: auto; // Center the wrapper in the parent

    @include respond(phone) {
      margin-bottom: 0;
    }

    .row {
      margin-bottom: 8rem;

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }
  }
}
.project-image {
  max-width: 60%; /* Image can grow up to 100% of its container's width */
  min-width: 60%;
  min-height: 60%;
  height: 100%;   /* Height adjusts automatically to maintain aspect ratio */
  object-fit: cover; /* Ensures the image covers the set width/height area */
  border-radius: 15px; /* Optional, for styling */
}



.sproject {
  display: flex;
  flex-direction: row; /* Adjust direction as needed */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  /* Other styles */
}
@media (min-width: 1024px) {
  .project-image {
    max-width: 800px; /* Larger size on big screens */
  }
  .sproject {
    /* Adjust flexbox settings or width for larger screens if needed */
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .project-image {
    max-width: 100%; /* Full width on smaller screens */
  }
  .sproject {
    /* Adjust flexbox settings or width for smaller screens if needed */
  }
}

.project-text {
  display: flex;
  flex-direction: column;
  width: 60%; // Adjust as needed
  padding: 10px; // Add padding for spacing
}

.project-description {
  padding: 10px;
}

.project-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.column {
  width: 100%; // Full width within the flex container
  padding: 10px;
}

.columnBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photobanner .sproject {
  margin: 0 0.5em;
}

.photobanner {
  position: absolute;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: bannermove 5s linear infinite;
  height: 500px;
  width: auto;
}

.photobanner:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

/* Additional styles for other elements */
/* You can add or adjust styles for other elements like headers, footers, etc. here */
