#projects {
  color: $dark-blue-text;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  @include respond(tab-land) {
    padding-top: 5rem;
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding-left: 2rem;
    padding-right: 5rem;

    @include respond(phone) {
      margin-bottom: 0;
      padding: 1rem;
    }
  }
}

.sproject {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "image text"
    "icons icons"
    "buttons buttons";
  gap: 20px;
  align-items: start;
  justify-content: center; /* Aligns the grid horizontally in the center */
  margin: auto; /* Centers the grid block in the available horizontal space */
  max-width: 2000px; /* Set a max-width for larger screens */



  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "image"
      "text"
      "icons"
      "buttons";
  }
}

.project-icons {
  grid-area: icons;
  display: flex;
  justify-content: center; // Centers the icons horizontally
  align-items: center; // Aligns the icons vertically
  gap: 30px; // Spacing between icons
  padding: 10px 0; // Padding above and below the icon list
  width: fit-content; // Restricts the width to its content
  margin: auto; // Centers the container in the grid area
}

.icon-container {
  position: relative; // Needed for absolute positioning of the text
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  .project-icon {
    width: 100px; // Smaller width
    height: 100px; // Ensuring the height is the same as the width
    object-fit: contain; // Keeps the image aspect ratio
    transition: box-shadow 0.3s ease; // Smooth transition for the glow effect
  }

  .icon-text {
    position: absolute;
    bottom: -20px; // Adjust as needed
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    font-size: 15px;
  }

  &:hover .icon-text {
    opacity: 1;
    visibility: visible;
  }
  &:hover .project-icon {
    filter: drop-shadow(1px 1px 10px #b07219) brightness(1);
  }
}

.project-wrapper__text-title {
  font-size: 2.2rem; // Even larger font size
  font-weight: 550; // Heavier font weight for more boldness
  // You can add other styling properties if needed
}

.project-title {
  grid-area: title;
  text-align: center;
  color: $dark-blue-text;
  font-size: 30px;
}

.project-text {
  grid-area: text;
  width: 100%;
  padding: 10px;
}

.project-image {
  grid-area: image;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.project-buttons {
  grid-area: buttons;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}

.project-description {
  font-size: 2.0rem;
  padding: 10px;
}

.column {
  width: 100%;
  padding: 10px;
}

.columnBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photobanner .sproject {
  margin: 0 0.5em;
}

.photobanner {
  position: absolute;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: bannermove 5s linear infinite;
  height: 500px;
  width: auto;

  &:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

